@font-face {
    font-family: "Shagadelic";
    src: url("shagade.ttf");
}

* {
    font-family:'Garamond, serif';
}

#container main p {
    text-align: justify;
}

h1, h2, h3 {
    font-family: "Shagadelic";
    font-weight: unset;
    text-align: center;
    margin-top: 25px;
}

/* Light and dark mode */